# Fill in the values and rename the file to .env, .env.local or .env.production depending on the environment you are working on
EXPO_PUBLIC_SUPPORT_PHONE_NUMBER=1234567890123
EXPO_PUBLIC_BASE_ROW_API_TOKEN=YOUR_API_TOKEN